<h1><%= @list.name %></h1>
<p><%= @list.description %></p>

<ul>
	<% @tasks.each do |task| %>
		<li>
				<h3><%= task.name %></h3>
				<h4><%= task.due_date.strftime("%m/%d/%Y") %></h4>
				<p><%= task.description %></p>
		</li>
	<% end %>
</ul>

<hr>

<%= link_to "Create New Task", new_task_path %>
<br>
<%= link_to "Return to Lists", lists_path %>