<div class="page-header">
  <h1><span class="glyphicon glyphicon-pencil"></span> New Task</h1>
</div>

<%= bootstrap_form_for @task do |t| %>
  <%= t.text_field :name %>
  <%= t.text_area :description %>
  <%= t.date_select :due_date %>
  <label class="control-label" for="task[listid]">List</label>
  <%= select_tag "task[listid]", options_from_collection_for_select(List.all, :id, :name), { class: "form-control" } %>
  <br>
  <%= t.submit "Create new task", { class: "btn btn-primary" } %>
<% end %>
